<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- For future sideload flavor, the Play Store flavor will exclude this via flavors/manifest merger -->
        <service
            android:name=".StealthNotificationListener"
            android:label="StealthCrypt Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- Keyboard-independent: works with Samsung keyboard, Gboard etc.
             via the text selection menu (select text -> "Encrypt"/"Decrypt") -->
        <activity
            android:name=".EncryptTextActivity"
            android:label="🔒 Encrypt"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.Alert">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DecryptTextActivity"
            android:label="🔓 Decrypt"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.Alert">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShareActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>
